input{
  margin-top: 2rem;
  width: 50%;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-left: 1rem;
}
label{
  font-size: 1rem;
  font-weight: 600;
  color: teal;
  
}
button{
  cursor: pointer;
  background-color: aqua;
  font-weight: 600;
  font-size: 1rem;
  border:none;
padding:5px;
margin: auto;
margin-top: 2rem;
}